<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{data['type']}} Service Type</strong></h1>

<div *ngIf="data['type'] === 'Add'">

    <label>Name: </label>
    <input #name value="">

    <label>Price: </label>
    <input #price value="">

    <div mat-dialog-actions>
        <button mat-button (click)="doAction(data['type'], name.value, price.value)">Add</button>
        <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    </div>
</div>

<div *ngIf="data['type'] === 'Update'">
    <label for="name">Name: </label>
    <input type="text" id="name" #name value="{{data['object'].name}}">

    <label for="price">Price: </label>
    <input type="text" value="{{data['object'].price}}" #price id="price">

    <div mat-dialog-actions>
        <button mat-button (click)="doAction(data['type'], name.value, price.value)">Update</button>
        <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    </div>

</div>

<div *ngIf="data['type'] == 'Delete'">
    <p>Are you sure you want to delete this service type?</p>
    <p>{{data['object'].name}} -- {{data['object'].price}}£</p>

    <div mat-dialog-actions>
        <button mat-button (click)="doAction(data['type'])" mat-flat-button color="warn">Delete</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </div>
</div>
